<html>

<head></head>
<link rel="shortcut icon" href="/favicon.ico" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{{ style('style') }}
<body>
  <!-- config -->
  <div is="kanban-config"></div>
  <!-- loader -->
  <div is="kanban-load"></div>
</body>
<script src="main.js"></script>
</html>
